:root {
    --azul-primary: #0275d8;
}

body {
    min-width: 372px;
}

.wrapper {
    min-height: 100vh;
}

/* footer */

footer h5 {
    color: var(--azul-primary);
    display: flex;
    justify-content: center;
}

.social-links ul {
    display: flex;
    justify-content: center;
}

.social-items {
    list-style: none;
}

.social-items a {
    padding: 5px 5px;
    font-size: 20px;
    color: var(--azul-primary);
}

/* truncar paragrafos do card */

p.truncar-3l {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*endereco*/

label:hover .text-dark {
    transition: color 0.2 ease;
    color: white !important;
}

label .text-dark {
    transition: color 0.2 ease;
}

.btn-check:checked+.btn-outline-primary .text-dark,
.btn-check:active+.btn-outline-primary .text-dark,
.btn-check:hover+.btn-outline-primary .text-dark {
    transition: color 0.2 ease;
    color: white !important;

}
.flex-even{
    flex: 1;
    min-width: 300px;
}
/* Media Queries */

@media screen and (max-width: 469px) {
    .mt-xs-3 {
        margin-top: 1rem;
    }
}